$small = '(max-width: 500px)'
$tiny = '(max-width: 300px)'

*
::before
::after
	position relative
	box-sizing border-box
	padding 0
	margin 0
	border none
	background-repeat no-repeat
	background-color transparent
	background-position center
	background-size cover
	border-radius 0
	border-width 1px
	border-style none
	outline 0
	list-style none
	appearance none
	color inherit
	min-width 0
	min-height 0
	max-width none
	max-height none
	text-decoration none
	-webkit-appearance none
	-webkit-overflow-scrolling touch
	border-collapse collapse
	tab-size 2

body
	font-size 14px
	font-family -apple-system, BlinkMacSystemFont, arial, sans-serif
	color #333
	&>#mocha
	&>*
		width 94vw
		max-width 1280px
		margin 12px auto
	&>h1
		margin 24px auto 18px auto
	&>h2
		margin 24px auto 12px auto
	&.passed
	&.failed
		&>.PageTitle
			&::after
				margin-left 12px
	&.failed
		&>.PageTitle
			&::after
				content '✖'
				color red
	&.passed
		&>.PageTitle
			&::after
				content '✔'
				color green

.version
	margin-left 8px
	font-size 12px
	&::before
		content 'v'

a
	text-decoration underline

h1
h2
h3
h4
h5
h6
	font-weight 400

$color1 = lightness(#ffb500, 85%)

section
	overflow-x auto
	&>*
		margin-bottom 8px
		line-height 18px
		font-size 14px
	h1
		font-size 16px
		line-height 22px
	&.Code
	&.Test
		padding 8px 16px
		background-color #ebebeb

pre
	font-family Consolas, monospace
	font-size 12px
	.const
	.function
	.export
	.import
		color blue
	.name
		color #790101
	.string
		color #127901

#environment
	font-family Consolas, monospace
	font-size 12px
	&>tr
		&>*
			vertical-align top
			padding 2px 4px
			border solid 1px #ddd
		&>th
			text-align left
		&.object
		&.function
			display none

#mocha
	background none
	&>*
		width 100%
	.suite
		margin-left 0

#mocha-stats
	width auto
	top 0
	right 0
	&>li
		padding-top 4px
	&>.progress
		position absolute
		right 0
		top 100%
	@media $tiny
		&>.duration
		&>.progress
			display none
