*,
::before,
::after {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  border-width: 1px;
  border-style: none;
  outline: 0;
  list-style: none;
  -moz-appearance: none;
       appearance: none;
  color: inherit;
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
}
body {
  padding: 0 0 12px 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, arial, sans-serif;
  color: #333;
  background-color: #fff;
}
body>#mocha,
body>* {
  width: 94%;
  max-width: 720px;
  margin: 12px auto;
}
body>h1 {
  margin: 24px auto 18px auto;
}
body>h2 {
  margin: 32px auto 12px auto;
}
body.failed>.TestResult {
  background-color: #f00;
}
body.failed>.TestResult::after {
  content: '✖ failed';
}
body.passed>.TestResult {
  background-color: #008000;
}
body.passed>.TestResult::after {
  content: '✔ passed';
}
.version {
  margin-left: 8px;
  font-size: 12px;
}
.version::before {
  content: 'v';
}
.TestResult {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  margin: 0;
  padding: 4px 8px;
  color: #fff;
  font-size: 12px;
  border-radius: 0 0 0 3px;
  text-decoration: none;
}
.TestResult::after {
  color: #fff;
}
a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
ul {
  padding-left: 24px;
}
ul>li {
  list-style: disc;
}
ol {
  padding-left: 24px;
}
ol>li {
  list-style: decimal;
}
footer>* {
  margin: 8px auto;
}
section.Document {
  font-size: 14px;
  line-height: 22px;
}
section.Document>* {
  margin: 8px auto;
}
section.Document>h1 {
  font-size: 20px;
  font-weight: bold;
}
section.Document>h2 {
  font-size: 18px;
  font-weight: bold;
}
section.Document>h3 {
  font-weight: bold;
}
section.Code>pre,
section.TestCode>pre {
  padding-left: 0;
}
pre {
  line-height: 18px;
  padding: 8px 12px 8px 0;
  background-color: #eee;
  overflow-x: auto;
  white-space: pre;
  counter-reset: line;
  -moz-tab-size: 2;
       tab-size: 2;
  font-family: Consolas, monospace;
  font-size: 12px;
}
span.indent {
  display: inline-block;
  border-left: solid 1px #e0e0e0;
}
span.const,
span.function,
span.export,
span.import,
span.default,
span.class,
span.return {
  color: #00f;
}
span.name {
  color: #790101;
}
span.string {
  color: #127901;
}
span.comment {
  color: #777;
}
span.true,
span.false,
span.num {
  color: #e28116;
}
span.linenum {
  counter-increment: line;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
span.linenum::before {
  content: counter(line);
  display: inline-block;
  width: 38px;
  padding-right: 10px;
  text-align: right;
  color: #999;
}
#environment {
  font-family: Consolas, monospace;
  font-size: 12px;
}
#environment>tr>* {
  vertical-align: top;
  padding: 2px 4px;
  border: solid 1px #ddd;
}
#environment>tr>th {
  text-align: left;
}
#environment>tr.object,
#environment>tr.function {
  display: none;
}
#mocha {
  background: none;
}
#mocha>* {
  width: 100%;
}
#mocha li {
  list-style: none;
}
#mocha .suite {
  margin-left: 0;
}
#mocha-stats {
  position: absolute;
  right: 0;
  top: auto;
  bottom: 100%;
  width: auto;
}
#mocha-stats>.progress {
  margin-right: 0;
}
@media (max-width: 500px) {
  #mocha-stats>.duration {
    display: none;
  }
}
.GitHubLink {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 4px 8px;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.GitHubLink>.fa-external-link {
  margin-left: 2px;
}
