*,
::before,
::after {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  border-width: 1px;
  border-style: none;
  outline: 0;
  list-style: none;
  -moz-appearance: none;
       appearance: none;
  color: inherit;
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
  -moz-tab-size: 2;
       tab-size: 2;
}
body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, arial, sans-serif;
  color: #333;
}
body>#mocha,
body>* {
  width: 94vw;
  max-width: 1280px;
  margin: 12px auto;
}
body>h1 {
  margin: 24px auto 18px auto;
}
body>h2 {
  margin: 24px auto 12px auto;
}
body.passed>.PageTitle::after,
body.failed>.PageTitle::after {
  margin-left: 12px;
}
body.failed>.PageTitle::after {
  content: '✖';
  color: #f00;
}
body.passed>.PageTitle::after {
  content: '✔';
  color: #008000;
}
.version {
  margin-left: 8px;
  font-size: 12px;
}
.version::before {
  content: 'v';
}
a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
section {
  overflow-x: auto;
}
section>* {
  margin-bottom: 8px;
  line-height: 18px;
  font-size: 14px;
}
section h1 {
  font-size: 16px;
  line-height: 22px;
}
section.Code,
section.Test {
  padding: 8px 16px;
  background-color: #ebebeb;
}
pre {
  font-family: Consolas, monospace;
  font-size: 12px;
}
pre .const,
pre .function,
pre .export,
pre .import {
  color: #00f;
}
pre .name {
  color: #790101;
}
pre .string {
  color: #127901;
}
#environment {
  font-family: Consolas, monospace;
  font-size: 12px;
}
#environment>tr>* {
  vertical-align: top;
  padding: 2px 4px;
  border: solid 1px #ddd;
}
#environment>tr>th {
  text-align: left;
}
#environment>tr.object,
#environment>tr.function {
  display: none;
}
#mocha {
  background: none;
}
#mocha>* {
  width: 100%;
}
#mocha .suite {
  margin-left: 0;
}
#mocha-stats {
  width: auto;
  top: 0;
  right: 0;
}
#mocha-stats>li {
  padding-top: 4px;
}
#mocha-stats>.progress {
  position: absolute;
  right: 0;
  top: 100%;
}
@media (max-width: 300px) {
  #mocha-stats>.duration,
  #mocha-stats>.progress {
    display: none;
  }
}
